parameters:
    database_host:     mysql.trukotop.com
    database_port:     ~
    database_name:     projet004
    database_user:     trukotop
    database_password: Truk1408!
    mailer_transport: mail
    mailer_host: sub4.mail.dreamhost.com
    mailer_user: info@trukotop.com
    mailer_password: Truk1408!
    secret: d8a19887e2c4d6df1b7a93b44af35c43d378cc67

    stripe_api_key : sk_test_ajscgIwFoEKfQprwjktnuZKi
    stripe_data_key : pk_test_LxgN9vsI0c4K5wK628nb8362

