{% extends "AppBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="main_content">
        <h3 class="box"><b>Merci pour votre achat !</b></h3>
        <br />
        <div class="box">
           <p>Vos billets vous ont été envoyés par Email !</p>
           <p class="small">Vous pouvez vous présenter à l'entrée du Musée du louvre avec cet Email.</p>
           <p class="small">N'oubliez pas de vous munir de vos justificatifs si vous avez cocher "Tarif Réduit".</p>


        </div>

    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
