{% extends "layout.html.twig" %}

{% block title %}{{ 'title.page.home'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <a href="{{ path('info_base') }}"><button class="btn btn-success btn-lg" >{{ 'button.booking'|trans }}</button></a>
{% endblock %}

{% block javascript %}
{% endblock %}
